<section class="container mx-auto grid gap-6">
  @for (post of visiblePosts(); track post.id) {
    <app-post [post]="post" />
  }

  @if (postsService.isLoading() && postsService.posts().length > 0) {
    <div class="flex justify-center py-4">
      <app-loading-indicator />
    </div>
  }

  @if (showLoadMoreNav()) {
    <div class="flex justify-center py-4">
      <a class="btn btn-primary" routerLink="/create-skill">Load more</a>
    </div>
  }

  @if (!isPreview() && !postsService.hasMore() && postsService.posts().length) {
    <div class="alert alert-info">
      You have reached the end of the list.
    </div>
  }

  @if (!isPreview()) {
    <div #sentinel class="h-10"></div>
  }
</section>
